


<div>
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
      <label for="title">title</label>
      <input id="title" type="text" class="form-control" formControlName="title">
    </div>

    <div>
      <label for="description">description</label>
      <input id="description" type="text" class="form-control" formControlName="description">
    </div>

    <div>
      <label for="date">date</label>
      <input id="date" type="text" class="form-control" formControlName="date">
    </div>

    <div>
      <label for="time">time</label>
      <input id="time" type="text" class="form-control" formControlName="time">
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="form.invalid" class="btn btn-default">save</button>
      <button (click)="buttonCancelClicked()" class="btn btn-danger">cancel</button>
    </div>
  </form>
</div>
